# Problem set 00
* Markdown, basic syntax, control flow, looping
* js (jserences@ucsd.edu), Fall 2022 for NEUG/PSYC 231

In [10]:
import numpy as np
import math

### 0: Markdown cells

- Convert the cell immediately below this one from a code cell to a markdown cell.
- Write a Level 3 heading with your name.
- Below that create a bulleted list that states your grad program (or major), your favorite food, and a hobby.
- Finally, write out the sentence: “I can learn to code and I will be excellent at it!” with the following formatting:
     - the word “can” should be in bold
     - the word "excellent" should be in italics
     - the word "code" should be a link to `https://www.python.org`

### Hannah Lloyd 
* psychology, pizza, skateboarding

I **can** learn to [code](https://www.python.org) and I will be _excellent_ at it!

### 1: Variables and Arithmetic

In the cell below,
- assign `4` to the integer variable `x`,
- assign the square root of 3 to the variable `y` (remember taking the square root is the same as raising to the power of 1/2: $\sqrt{a}=a^{0.5}$)
- assign the sum of `x` and `y` to the variable `xy_sum`
- assign the product of `x` and `y` to the variable `xy_prod`
- and then confirm that this was successful by checking the type using both the `type` function and the `isinstance` function
- convert `xy_prod` to an `int` using typecasting...what happens to the value? (i.e. what information do you lose?)

In [22]:
x = 4
y = math.sqrt(3) 
xy_sum = x + y 
print(xy_sum)
xy_prod = x*y 
lst = [x, y] 
for i in lst: 
    print(type(i))
isinstance(x,float)
isinstance(y,float) 
xy_prod = int(xy_prod) 
type(xy_prod)

5.732050807568877
<class 'int'>
<class 'float'>

AttributeError: 'int' object has no attribute 'int'

### 2: types and operators

The variables `x` and `y` are set for you in the next cell - do not modify them but run that cell.
Then use only the variables `x` and `y`, the functions `int()`, `str()` and the operators `+` and `*` to make the following variables have these types and values:
- `A` (float) 8.0
- `B` (int) 15
- `C` (str) 33333
- `D` (str) 53
- `E` (int) 33

In [24]:
x = '3'
y = 5.0 
# x , y, int(), sttr, + , *

In [26]:
# your answer here

In [28]:
A = int(x) + y 
print(A)

8.0

In [30]:
B = int(y) * int(x)
print(B)

15

In [ ]:
C = x * int(y)
print(C)

In [39]:
D = str(int(y)) + x
print(D)

53

In [41]:
E = str(x + x)
print (E)

33

### 3: filter list

- make a list `multiples_of_2_or_3` which contains all the numbers between 1 and 100 that are either multiples of 2 or multiples of 3 using a combination of a `for` loop with a `if` conditional inside the loop.
- start by initializing an empty list, then fill it up in the loop using the `append` method of a list
- To figure out if a number is evenly divisible by 2 or 3 use the `%` (mod) operator. The `%` operator returns the remainder after division, and if a number is evenly divisible by 2 (for example) then the result of that number `%` 2 will be 0!

In [45]:
# start stop step

multiples_of_2_or_3 = []

for num in range(5,40,2): #START STOP STEP
    lst.append(num) #.append is a method!
    
print(lst)


for i in range(1,101): 
        if i%2 == 0 or i%3 == 0: 
            multiples_of_2_or_3.append(i) 
print(multiples_of_2_or_3)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
[2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99, 100]

### 4 FizzBuzz list

FizzBuzz is a canonical programming challenge involving looping, conditionals, and comparisons.  The goal is to implement the kids' game ["Fizz Buzz"](https://en.wikipedia.org/wiki/Fizz_buzz):  Count up from 1.  For each number, if it is divisible by 3 say "Fizz", if it is divisible by 5 say "Buzz", (thus say "FizzBuzz" for numbers divisible by 15).  For all other numbers, just say that number.

Use a `for` loop, `if..elif...else` statements, to build a list variable with the name `fizzbuzz`.
- the list should contain the numbers 1 through 100, in order except:
- any number that is a multiple of 3 should be replaced with the string "Fizz"
- any number that is a multiple of 5 should be replaced with the string "Buzz"
- any number that is a multiple of 3 and 5 (i.e. a multiple of 15) should be replaced with "FizzBuzz"

Here is a table of sample output (only going up to the number 16):

| **n** | **result** |
| ------|-----------|
| 1 | 1 | 
| 2 | 2 |
| 3 | "Fizz" |
| 4 | 4 |
| 5 | "Buzz" |
| 6 | "Fizz" | 
| 7 | 7 | 
| ... | ... | 
| 14 | 14 | 
| 15 | "FizzBuzz" |
| 16 | 16 |

In [50]:
# divisible by 3 = Fizz 
# divisible by 5 = Buzz 
# divisible by 15 = FizzBuzz
# else say the number 
fzbz = []
for i in range(1,101):
    if i%15 == 0:  
        i = "FizzBuzz"
        fzbz.append(i) 
    elif i%5 == 0 :
        i = "Buzz"
        fzbz.append(i)
    elif i%3 == 0:
        i = "Fizz"
        fzbz.append(i) 
    else:
        fzbz.append(i) 
        
print(fzbz)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz', 'Fizz', 22, 23, 'Fizz', 'Buzz', 26, 'Fizz', 28, 29, 'FizzBuzz', 31, 32, 'Fizz', 34, 'Buzz', 'Fizz', 37, 38, 'Fizz', 'Buzz', 41, 'Fizz', 43, 44, 'FizzBuzz', 46, 47, 'Fizz', 49, 'Buzz', 'Fizz', 52, 53, 'Fizz', 'Buzz', 56, 'Fizz', 58, 59, 'FizzBuzz', 61, 62, 'Fizz', 64, 'Buzz', 'Fizz', 67, 68, 'Fizz', 'Buzz', 71, 'Fizz', 73, 74, 'FizzBuzz', 76, 77, 'Fizz', 79, 'Buzz', 'Fizz', 82, 83, 'Fizz', 'Buzz', 86, 'Fizz', 88, 89, 'FizzBuzz', 91, 92, 'Fizz', 94, 'Buzz', 'Fizz', 97, 98, 'Fizz', 'Buzz']

### Challenge question: 

It is possible to solve the FizzBuzz challenge by writing a function which uses no conditional logic at all, but which uses math to separate integers into 4 possible categories: 

    Those which have 3 as a factor, but not 5
    Those which have 5 as a factor, but not 3
    Those which have both 3 and 5 as a factor
    Those which have neither 3 nor 5 as factors

(Note - I just ran across this today, and it seems kind of fun, but challenging!)

[explanation here](http://philcrissman.net/posts/eulers-fizzbuzz/)

In [ ]:
# your answer here